<div class="container">

<!--div class="page-header">
  <%#= link_to new_user_registration_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <%# end %>
  <h1>Listing users</h1>
</div-->

<!--div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody>
      <%#= content_tag_for(:tr, @users) do |user| %>
            <td><%#= user.full_name %></td>
            <td><%#= link_to 'Show', u_path(user) %></td>
      <%# end %>
    </tbody>
  </table>
</div-->

<ul class="media-list">
      <%= content_tag_for(:li, @users, class: "media") do |user| %>
    <div class="media-left">
      <a href="<%= u_path(user) %>">
                  <%= image_tag( user.avatar_url, :class => "media-object img-circle iimg-thumbnail",
                    style: "width: 50px; height: 50px; margin: 0px; padding: 0px;"
                  ) %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to user.full_name, u_path(user) %></h4>
    </div>

      <% end %>

</ul>


</div>
