<div class="container">

  <h1><%= @user.full_name %></h1>


<div cclass="media">
<div class="ppull-left ttext-center ccenter-block" style="position: relative; wwidth: 190px; hheight: 190px; ppadding-left: auto; ppadding-right: auto; ttext-align: center; bborder: solid thin red;">

<%= render partial: 'users/parts/show_avatar' %>

<!--/div-->

</div>
</div>


</div>
