
//$navbar-default-bg:                #f8f8f8
//$navbar-default-bg:                rgba(0,255,255,0.95);
//$navbar-default-link-active-bg:            #000077;
//$navbar-default-color:             #00ff00;


@import "app-my";


/*
 * VARIABLES HERE
 */

/*
$navbar-default-bg: #312312;


//$navbar-height: 150px;

//@import "bootstrap-variables";
//@import "bootstrap-generators";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: $navbar-height + 10px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}



.navbar {
        background-color: rgba(255,255,255,0.95);
}
.navbar li {
        color: #ffffff;
}
.navbar li a {
        color: #000077 !important;
        font-family: 'Verdana', sans-serif;
}
.navbar li a:hover {
        color: #ff0000 !important;
}
.navbar li.active > a:hover {
        color: #ff0000 !important;
}
.navbar-form .input-group input {
        background-color: rgba(255,255,255,0.5);
}
.navbar-form .input-group button {
        background-color: rgba(255,255,255,0.5);
}

*/


