
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="{% path_to home %}">{{ site.name }}</a-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav nnavbar-right">
            <!--li><a href="http://physcon.ru">IPACS</a></li-->
            <li><a href="https://station.locomotive.works/_app/vit/preview/">IPACS</a></li>
            <li><a href="http://physcon.ru/blog">Blog</a></li>
            <!--li><a href="http://physcon.ru/cap">CAP Journal</a></li-->
            <li><a href="http://cap.physcon.ru">CAP Journal</a></li>
            <li><a href="http://lib.physcon.ru">Library</a></li>
            <li><a href="http://coms.physcon.ru">CoMS</a></li>
            <!--li class="active"><a href="http://my.physcon.ru">My</a></li-->
            <li class="active"><a href="https://ph4-my-vit2.c9users.io/">My</a></li>
      </ul>

          <% if user_signed_in? %>
          <p class="navbar-text">
            <%= current_user.email %>
          </p>
          <% end %>


<!--div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form search" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q" iid="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div-->
    </div>
  </div>
</nav>

